<!DOCTYPE html>
<html>

<header th:replace="layouts::pmHeader"></header>
	
<body>

	<nav th:replace="layouts::pmNavbar"></nav>
	<br>
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">Page Not found - 404 </h1>
		  <p class="lead">We are unable to find what you are looking for.</p>
		  <hr class="my-4">
		  <p>In case problem exist, please contact your PMO or reach out to help and support team.</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
		  </p>
		</div>
	</div>
	
</body>
</html>